html {
    
}

h1 {
    margin: 50px;
    text-align: center;
    color: #E73BBA;
    font-family: 'Bungee Shade', cursive;
    font-size: 35px;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #AE81F7,
    0 0 21px #bc13fe,
    0 0 42px #AE81F7,
    0 0 82px #bc13fe,
    0 0 92px #AE81F7,
    0 0 102px #bc13fe,
    0 0 151px #AE81F7;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #1470ff, #cb70d9, #fa8eb8, #ffbcb6, #f9e7dc);
    /* background-image: linear-gradient(to bottom, #82b2fa, #afb9fa, #d0c3f8, #e8cef5, #f9dcf5); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #FFF6FD; */
}

nav {
    background-color: #18BEBA;
    /* background-color: #8383FF; */
    display: flex;
    justify-content: center;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}


ul {
    display: inline;
    list-style: none;
    list-style-type: none;
    text-decoration none;
    color: #1470FF;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #AE81F7,
    0 0 21px #bc13fe,
    0 0 42px #AE81F7,
    0 0 82px #bc13fe,
    0 0 92px #AE81F7,
    0 0 102px #bc13fe,
    0 0 151px #AE81F7;
}


ul a {
    display: inline;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    /* color: #FF0086; */
    /* color: #6BBAA3; */
    color: #1470FF;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #AE81F7,
    0 0 21px #bc13fe,
    0 0 42px #AE81F7,
    0 0 82px #bc13fe,
    0 0 92px #AE81F7,
    0 0 102px #bc13fe,
    0 0 151px #AE81F7;
}

ul a:hover {
    list-style-type: none;
    list-style: none;
    color: whitesmoke;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #AE81F7,
    0 0 21px #bc13fe,
    0 0 42px #AE81F7,
    0 0 82px #bc13fe,
    0 0 92px #AE81F7,
    0 0 102px #bc13fe,
    0 0 151px #AE81F7;
}

p {
    font-family: 'Thasadith', sans-serif;
}

h2 {
    font-family: 'Bebas Neue', cursive;
}

a {
    color: inherit;
}

.card {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    font-family: 'Thasadith', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    font-family: 'Thasadith', sans-serif;
}

aside {
    background-color: #38b18a;
    grid-area: aside;
  }
  
  main {
    background-color: #92d97c;
    /* grid-column: 2 / 4; */
    grid-area: main;
  }
  
  footer {
    background-color: #f9f871;
     height: 40px;
     grid-area: footer;
     flex-wrap: wrap;
  }
